@inherits LayoutComponentBase

<div class="container py-3">
    <header class="mb-3 border-bottom pb-2">
        <h1 class="h4 m-0">EquipmentHubDemo</h1>
        <small class="text-muted">Blazor United • Event + Store</small>
    </header>

    <main>
        @Body
    </main>

    <footer class="mt-4 text-muted small">
        &copy; @DateTime.Now.Year EquipmentHubDemo
    </footer>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</div>
